
@{
    ViewBag.Title = "النتيجه";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="jumbotron">
    <h1>نتيجه المعامله</h1>
    <h2> @TempData["respons"] </h2>
    <br />
    <p><a class="btn btn-lg btn-success" href="~/Login/home" role="button">الرجوع للرئيسية</a></p>
</div>
